Body{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.637);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.App {
  
  text-align: center;
  background-color: #1b1b1b;
  height: 500px;
  width: 400px;
  margin-top: 50px;
  border-radius: 15px;
  border: 5px solid grey;
  color: white;
 
}

